/* Estilos para o corpo */
body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
	
}


/* Estilos gerais para elementos comuns */
.profile-picture,
.profile-name,
.biography-container,
.button-list {
    padding: 5px;
    text-align: center;
}


/* Estilos para a imagem de perfil */
.profile-picture {
    width: 150px;
    height: 150px;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 50%;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Estilos para o nome */
.profile-name {
    font-family: Georgia, Times New Roman, serif;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

/* Estilos para a biografia */
.biography-container {
    color: #FFF;
}

.biography {
    padding: 5px;
}

.biography i {
    margin-right: 5px;
    font-size: 20px;
}



/* Estilos para a barra de redes sociais */
.social-bar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os ícones */
    background-color: transparent; /* Fundo transparente */
    padding: 10px 0; /* Espaçamento interno */
}

/* Estilos para os ícones de redes sociais */
.social-bar a {
    text-decoration: none;
    color: #fff; /* Cor dos ícones */
    margin: 0 10px; /* Espaço entre os ícones */
    font-size: 24px; /* Tamanho dos ícones */
    transition: color 0.3s ease-in-out; /* Efeito de transição de cor */
}

.social-bar a:hover {
    color: #0077b5; /* Cor quando o mouse está sobre o ícone (cor do LinkedIn) */
}




/* Estilos para a lista de botões */
.button-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Remova a altura fixa */
  margin-top: 20px; /* Adicione um espaçamento superior */
  background-color: rgba(242, 242, 242, 0);
}

/* Estilos para os botões */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #527a7a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  width: 300px;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Estilos para o ícone nos botões */
.button i {
  margin-right: 5px;
  font-size: 20px;
  float: left;
}


.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px; /* Ajuste o valor conforme desejado para controlar o raio da borda */
    padding: 10px 15px;
    font-size: 16px; /* Ajuste o tamanho da fonte conforme desejado */
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  

/* Estilos para o rodapé */
.footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
	bottom:0;
    position: relative; /* Alterado para 'relative' */
    clear: both; /* Adiciona 'clear' para evitar sobreposição */
	margin-top: auto;
}


.download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .download-button:hover {
    background-color: #2980b9;
  }
